<!DOCTYPE html>
<html>
<form action="{% url 'news'%}" method="post">
    {% csrf_token %}

    Tytuł wpisu:<br />
    <input type=text" name="user"/><br/>
    użytkownik:<br />
	 <input type="text" name="title" /><br />
	Wpis: <br />
	<textarea rows="4" cols="50" name="text"></textarea><br />
	<input type="submit" value="Dodaj" />
</form>
</html>