<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Mój blog</title>
    </head>
    <body>
        {%if typ == 'ok'%}
        <div style="color:green;padding:15px">
            Na podane konto mailowe został wysłany link aktywacyjny do twojego konta :)
        </div>
        {%endif%}
        <div class="container">
            <div class="content">

               <div>
             {% if user.is_authenticated%}
                <div >
                    <h4 >Jesteś zalogowany</h4>
                </div>
                <div>

                <a href="{% url 'wyloguj' %}">Wyloguj</a><br/>
                <br/>
                {% if user.UserProfile.ustawione == False %}
                    <A href="{%  url 'preferencje' %}">Preferencje</a>

                {% endif %}
                 </div>
            {% else %}
                <div >
                    <h4 >Zaloguj się lub załóż konto</h4>
                </div>
                <div >
                     <a href="{% url 'login' %}" >Zaloguj się</a><br/>
                    <a href="../accounts/register">Rejestracja</a><br/>
                </div>
            {% endif%}

            <div>
            {% block content %}{% endblock %}
            </div>

        </div>
    </body>
</html>