<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
        <title>Mój blog</title>
</head>
<body>

    <h1 style="color:green;padding:15px">Twoje konto zoatało aktywowane :)</h1>

    <h2> <a href="{% url 'blog' %}">POWRÓT</a><br/></h2>
</body>
</html>